<section id="login-container">
    <div id="login-form">

      <app-form-single-input
        [shouldShowInput]="loginFormState == 'username'"
        [buttonName]="'next'"
        [buttonValue]="'login-user'"
        [inputPlaceholder]="'username'"
        [inputType]="'text'"
        [labelName]="'USERNAME'"
        (onSubmit)="submitUsername($event)"

      >
      </app-form-single-input>

      <app-form-single-input
      [shouldShowInput]="loginFormState == 'password'"
      [buttonName]="'login'"
      [buttonValue]="'login-password'"
      [inputPlaceholder]="'password'"
      [inputType]="'password'"
      [labelName]="'PASSWORD'"
      (onSubmit)="submitPassword($event)"

    >
    </app-form-single-input>

    </div>
  </section>