#checkout {
    text-align: right;
    padding: 1em;
}

#container {
    width: 80%;
    margin: auto;
    min-width: 25em;
    background-color: #ff99999d;
    border-radius: 1em;
    box-shadow: #000000e5 0 0 3px 1px;
}

#total {
    text-align: center;
    padding: 1em;
}