#container {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em;
    gap: 1em;
}

.product-list-item {
    max-width: 30%;
    background: white;
    min-width: 15em;

    background-color: #ff99999d;
    border-radius: 1em;
    box-shadow: #000000e5 0 0 3px 1px;
}